{% extends "base.html" %}

{% block content %}
<h1>Корзина</h1>

<div class="product-list center">
    {% if products %}
        {% for p in products %}
            <div class="product-card">
                <img src="{{ url_for('static', filename=p[4] if p[4] else 'product1.jpg') }}" alt="{{ p[1] }}">
                <h2>{{ p[1] }}</h2>
                <p class="price">{{ p[3] }} ₽</p>
            </div>
        {% endfor %}
    {% else %}
        <p class="search-empty">Ваша корзина пуста 🛒</p>
    {% endif %}
</div>

{% if products %}
    <div class="checkout-container">
        <a href="{{ url_for('checkout') }}" class="checkout-button">Оформить заказ</a>
    </div>
{% endif %}
{% endblock %}